<%= simple_form_for(@beneficiary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :street %>
    <%= f.input :zip %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :relationship %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
