<h1>Listing beneficiaries</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Street</th>
    <th>Zip</th>
    <th>City</th>
    <th>State</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Relationship</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beneficiaries.each do |beneficiary| %>
  <tr>
    <td><%= beneficiary.first_name %></td>
    <td><%= beneficiary.last_name %></td>
    <td><%= beneficiary.street %></td>
    <td><%= beneficiary.zip %></td>
    <td><%= beneficiary.city %></td>
    <td><%= beneficiary.state %></td>
    <td><%= beneficiary.phone %></td>
    <td><%= beneficiary.email %></td>
    <td><%= beneficiary.relationship %></td>
    <td><%= link_to 'Show', beneficiary %></td>
    <td><%= link_to 'Edit', edit_beneficiary_path(beneficiary) %></td>
    <td><%= link_to 'Destroy', beneficiary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beneficiary', new_beneficiary_path %>
