<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Dob</th>
    <th>Street</th>
    <th>Zip</th>
    <th>State</th>
    <th>Phone</th>
    <th>Password digest</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Deceased</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.dob %></td>
    <td><%= user.street %></td>
    <td><%= user.zip %></td>
    <td><%= user.state %></td>
    <td><%= user.phone %></td>
    <td><%= user.password_digest %></td>
    <td><%= user.last_name %></td>
    <td><%= user.first_name %></td>
    <td><%= user.deceased %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
