<%= simple_form_for(@account_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :username_regex %>
    <%= f.input :permissions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
